@{
    ViewBag.Title = @GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Dashboard Not Found]]]";
    ViewBag.MessageBox = false;
}

@if (Layout == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/scripts/bootstrap-errorpage")
}

@section MainSection{
    <div>
        <div class="col-md-12">
            <div class="col-xs-12 text-center response-header">[[[Sorry, we could not find your dashboard.]]]</div>
            <div class="response">[[[Possible reason:]]]<br>[[[The dashboard could have been deleted.]]]</div>
        </div>
    </div>
}