<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="enableProfiling" value="false" />
  </appSettings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add physicalMemoryLimitPercentage="20" name="default" pollingInterval="00:15:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.web>
    <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" cookieless="AutoDetect" protection="All" name="DashboardServerAuth" slidingExpiration="true"/>
    </authentication>
    <machineKey validationKey="47DFC81F098CD8F29E34737306233E763A956EC1831600AFB74B2A91138305E23A0D8E138B72BCAC2A305D870A5854B1BFF2FCA934104B9F3657092E26357108" decryptionKey="E2B23DB1B6D5635C5328A382BB69C46DFFF28EB930D59DD3" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Syncfusion.DashboardService.DashboardService">
        <!--<endpoint address="" behaviorConfiguration="corsSupport" bindingConfiguration="WebBindingConfiguration" binding="webHttpBinding" contract="Syncfusion.DashboardService.IDashboardService"/>-->
        <endpoint address="" behaviorConfiguration="corsSupport" bindingConfiguration="SecureWebBindingConfiguration" binding="webHttpBinding" contract="Syncfusion.DashboardService.IDashboardService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="false" name="WebBindingConfiguration" maxBufferPoolSize="2147483647" transferMode="Buffered" maxReceivedMessageSize="2147483647" closeTimeout="02:50:00" openTimeout="02:50:00" sendTimeout="02:50:00" receiveTimeout="02:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <binding  name="SecureWebBindingConfiguration" maxBufferPoolSize="2147483647" transferMode="Buffered" maxReceivedMessageSize="2147483647" closeTimeout="02:50:00" openTimeout="02:50:00" sendTimeout="02:50:00" receiveTimeout="02:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <extensions>
      <behaviorExtensions>
        <add name="CorsExtension" type="Syncfusion.DashboardService.Cors.CorsSupportBehaviorElement, Syncfusion.DashboardService"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="corsSupport">
          <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" automaticFormatSelectionEnabled="True"/>
          <CorsExtension/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceAuthorization serviceAuthorizationManagerType="Syncfusion.DashboardService.Authorization.DashboardAuthorizationManager, Syncfusion.DashboardService" />
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <!--<behavior name="">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="False" logMalformedMessages="False" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" logMessagesAtTransportLevel="False" logMessagesAtServiceLevel="False" logKnownPii="False"/>
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="DashboardService.svc"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
    <httpCompression dynamicCompressionDisableCpuUsage="90" staticCompressionDisableCpuUsage="60" directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" dynamicCompressionEnableCpuUsage="30">
      <staticTypes>
        <add mimeType="text/" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application.json;charset=utf-8" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <scheme doDynamicCompression="true" dynamicCompressionLevel="7" name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doStaticCompression="true" staticCompressionLevel="5"/>
    </httpCompression>
		<httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Olap.Base" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.2450.0.31" newVersion="12.2450.0.31"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Tools.Wpf" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.1450.0.43" newVersion="12.1450.0.43"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.1450.0.43" newVersion="12.1450.0.43"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Error,Critical" propagateActivity="true">
        <listeners>
          <add name="textListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Error,Critical">
        <listeners>
          <add name="textListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="DateTime" initializeData="TracingLog\DashboardServiceEvent.log"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
