<div id="active-directory-container" role="tabpanel" class="row admin-page-container" aria-labelledby="active-directory-settings-link" ng-controller="adSettingsController">

    <div class="col-md-12 import-area admin-page-header">
        <hgroup class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
            <h1 class="h2 page-title">[[[USER DIRECTORY SETTINGS]]]</h1>
            <h5 class="page-description">[[[Configuration for connecting to User Directories]]]</h5>
        </hgroup>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
            <ul>
                <li>
                    <a href="@Url.Action("ScheduleUmsSynchronization", "Administration")" class="pull-right ums-schedule" title="[[[UMS Schedule Synchronization]]]" data-toggle="tooltip" data-placement="left">[[[UMS Schedule Synchronization]]]</a>
                </li>
            </ul>   
        </div>
    </div>

    <div>
        <ul id="ad-tab-nav" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#ump-settings-tab" id="ump-tab" aria-controls="ump-settings-tab" role="tab" data-toggle="tab">[[[UMS]]]</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ump-settings-tab">
                <form id="ump-settings" name="umpSettingsForm" class="admin-page-body" method="post" enctype="multipart/form-data" autocomplete="off">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6 no-padding no-margin">
                            <label class="app-textbox-label col-md-4 no-margin">[[[UMS URL]]]</label>
                            <div class="col-md-8 no-margin form-input-field" ng-class="(umpSettingsForm.umpurl.$dirty && umpSettingsForm.umpurl.$invalid) ? 'has-error' : ''">
                                <input type="text" class="form-control col-md-6 no-margin" name="umpurl" placeholder="http://ump.syncfusion.com" ng-model="umpurl" id="umpurl" ng-init="umpurl='@ViewBag.UmsDetails.UmsUrl'" ng-pattern="$scope.regex" required />
                                <span class="validation-message" ng-show="umpSettingsForm.umpurl.$error.required && umpSettingsForm.umpurl.$dirty ">[[[Please enter UMS URL]]]</span>
                                <span class="validation-message" ng-show="umpSettingsForm.umpurl.$error.pattern ">[[[Please enter valid URL]]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6 no-padding no-margin">
                            <label class="app-textbox-label col-md-4 no-margin">[[[Client Id]]]</label>
                            <div class="col-md-8 no-margin form-input-field" ng-class="(umpSettingsForm.clientid.$dirty && umpSettingsForm.clientid.$invalid) ? 'has-error' : ''">
                                <input type="text" class="form-control col-md-6 no-margin" name="clientid" placeholder="Client Id" id="clientid" ng-model="clientid" ng-init="clientid='@ViewBag.UmsDetails.ClientId'" required />
                                <span class="validation-message" ng-show="umpSettingsForm.clientid.$dirty && umpSettingsForm.clientid.$invalid">[[[Please enter Client Id]]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6 no-padding no-margin">
                            <label class="app-textbox-label col-md-4 no-margin">[[[Client Secret]]]</label>
                            <div class="col-md-8 no-margin form-input-field" ng-class="(umpSettingsForm.clientsecret.$dirty && umpSettingsForm.clientsecret.$invalid) ? 'has-error' : ''">
                                <input type="password" class="form-control col-md-6 no-margin" name="clientsecret" ng-model="clientsecret" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="clientsecret" value="" required />
                                <div class="show-hide-password su su-eye"></div>
                                <span class="validation-message" ng-show="umpSettingsForm.clientsecret.$dirty && umpSettingsForm.clientsecret.$invalid">[[[Please enter Client Secret]]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 no-padding no-margin">
                            <input type="button" id="testumpconnection" ng-disabled="umpSettingsForm.$invalid" onclick="UmsSettingsFormValidate()" class="primary-button test-connection pull-right" title="[[[Test UMS Connection]]]" value="[[[Test Connection]]]" />
                        </div>
                        <div class="col-md-6 error-message" style="display: none"></div>
                        <div class="col-md-6 success-message" style="display: none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div class="admin-page-actions col-lg-12 col-md-12">
        <a href="@Url.Content("~/")" class="secondary-button pull-right" id="cancel-active-dir-settings" title="">[[[Cancel]]]</a>
        <input type="button" id="update-ump-settings" onclick="UmsSettingsFormValidate()" ng-disabled="umpSettingsForm.$invalid" class="primary-button pull-right" title="[[[Save]]]" value="[[[Save]]]" />
    </div>

</div>
