﻿@{
    ViewBag.Title = "[[[Internal Server Error]]]";
    ViewBag.MessageBox = false;
}
@section scripts{
    @Scripts.Render("~/scripts/bootstrap-errorpage")
}
@section MainSection{
    <h2>[[[Internal Server Error]]]</h2>
}