@{
    ViewBag.Title = "[[[Internal Server Error]]]";
    ViewBag.MessageBox = false;
}

@section scripts{
    @Scripts.Render("~/scripts/bootstrapjs")
}

@section MainSection{
    <h2>[[[Internal Server Error]]]</h2>
}