@{
    ViewBag.Title = "[[[Page Not Found]]]";
    ViewBag.MessageBox = false;
}

@section scripts{
    @Scripts.Render("~/scripts/bootstrap-errorpage")
}

@section MainSection{
    <h2>[[[Page Not Found]]]</h2>
}