
<div id="datasource-popup">
    <iframe id="datasource-popup-iframe" class="datasource-popup-frame"></iframe>
</div>
<div id="widget_popup">
    <iframe id="widget_popup_iframe" class="widget-popup-frame"></iframe>
</div>
<div id="AddCategoryPopup">
    <iframe id="AddCategoryPopup_iframe" class="categoryDialog"></iframe>
</div>
<div id="item-delete-confirmation" class="no-padding"></div>
<div id="addFileDom">
    <iframe id="addfile" class="fileDialog"></iframe>
</div>
<div id="report_popup" class="col-md-12 DisplayNone">
    <iframe id="report_iframe" class="EditIframe"></iframe>
</div>

<div id="version-window-container" class="no-padding">
    <iframe></iframe>
</div>

<div id="permission-popup" class="no-padding">
    <iframe id="permission-iframe" class="PermissionIframe"></iframe>
</div>

<div id="make_item_public" class="no-padding"></div>

<div id="remove_item_public" class="no-padding"></div>

@Html.Partial("../Items/_GetLink")
@Html.Partial("../Items/_GetEmbedCode")