
<div id="datasource-popup" style="display:none">
    <iframe id="datasource-popup-iframe" class="datasource-popup-frame"></iframe>
</div>
<div id="widget_popup" style="display:none">
    <iframe id="widget_popup_iframe" class="widget-popup-frame"></iframe>
</div>
<div id="AddCategoryPopup" style="display:none">
    <iframe id="AddCategoryPopup_iframe" class="categoryDialog"></iframe>
</div>
<div id="item-delete-confirmation" class="no-padding" style="display:none"></div>
<div id="file-popup"  style="display:none">
    <iframe id="file-popup-iframe" class="file-popup-frame"></iframe>
</div>
<div id="report_popup" class="col-md-12 DisplayNone" style="display:none">
    <iframe id="report_iframe" class="EditIframe"></iframe>
</div>

<div id="version-window-container" class="no-padding" style="display:none">
    <iframe></iframe>
</div>

<div id="permission-popup" class="no-padding" style="display:none">
    <iframe id="permission-iframe" class="PermissionIframe"></iframe>
</div>

<div id="make_item_public" class="no-padding" style="display:none"></div>

<div id="remove_item_public" class="no-padding" style="display:none"></div>
