@import (reference) "Mixins.less";
#pin-widget-popup {
    padding: 0px;

    #pin-widget-popup-iframe {
        border: none;
    }
}

#success-alert, #warning-alert {
    z-index: 1000;
    background-color: @secondary-btn-bg;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    display: none;
    min-height: 60px;
    position: fixed;
    right: 35px;
    top: 45px;
    width: 340px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    #image-container {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 60px;

        .image-holder {
            text-align: center;
            vertical-align: middle;


            span {
                background: green;
                border-radius: 50%;
                color: white;
                display: inline-block;
                height: 32px;
                position: relative;
                width: 32px;
                padding-top: 10px;
            }
        }

        .su-warning-alt {
            color: #ffae42;
            font-size: 32px;
            margin: 14px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            width: 32px;
        }
    }

    #message {
        display: table-cell;
        vertical-align: middle;

        #message-header {
            color: @item-search-bg;
            font-size: @app-large-text-size;
            font-weight: 500;
            margin: 0px;
            padding: 15px 0px;
            width: 100%;
        }

        #message-content {
            padding: 0px;
        }
    }

    .close-div {
        border-left: 1px solid #d6d6d6;
        cursor: pointer;
        display: table-cell;
        padding: 10px;
        text-align: center;
        vertical-align: middle;

        #close-content {
            color: @sub-text-color;
            font-size: 12px;
            font-weight: 400;
            position: relative;
        }
    }
}

#warning-alert {
    #message {
        width: 230px;
    }
}

#pin-widget-popup_wrapper_WaitingPopup, #dashboard-homepage-popup_wrapper_WaitingPopup {
    background-color: @ejwaiting-popup-bg !important;

    .e-image {
        background: url("/Content/Images/waitingpopup.gif");
        background-color: @dialog-body-bgcolor !important;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

#dashboard-homepage-popup, #pin-widget-popup {
    display: none;
}

#save-view-popup_wrapper {
    .e-dialog-scroller {
        width: 450px !important;
    }

    #save-view-popup-iframe {
        border: none;
        width: 450px !important;
    }
}
#save-view-popup {
    display: none;
    padding: 0px;
}

#commentModuleContainer {
    position: absolute;
    width: 410px !important;
    right: 1px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    z-index: 16777270;
    top: 0px;
    font-family: 'RobotoRegular' !important;

    .e-scroller, .e-dialog, .e-dialog-scroller {
        border: none !important;
        border-radius: 0px !important;
        overflow: visible !important;
    }
}

#viewShare_popup_wrapper.e-dialog.e-dialog-wrap {
    background: none;
}

#viewShare_popup_wrapper.e-shadow {
    box-shadow: none;

    .e-dialog-scroller {
        border-radius: 0 !important;
        border: 0 none;
    }
}

#viewShare_popup_wrapper_WaitingPopup.e-waitpopup-pane {
    -moz-user-select: none;
    background-color: #f5f5f5 !important;
    color: #333;
    opacity: 0.85;
}

#viewShare_popup_wrapper_WaitingPopup.e-waitpopup-pane .e-image {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
    display: block;
    height: 70px;
    margin: 0 auto;
    position: relative;
    width: 70px;
}

#viewShare_popup_wrapper_WaitingPopup.e-waitpopup-pane .e-image {
    background-color: #fff;
    background-image: url(../../images/waitingpopup.gif);
}

#viewShare_popup_iframe {
    border: 0 none;
    height: 600px;
    padding: 0;
    width: 100%;
}

#viewShare_popup {
    background: none;
    left: 381px;
    padding: 0;
    display: none;
    position: absolute;
    width: 650px;
    z-index: 99999999;
}

.ViewShare_popup_shadow {
    background: rgba(0, 0, 0, 0.37) none repeat scroll 0 0;
    display: block;
    height: 100%;
    position: fixed;
    left: 0;
    display: none;
    top: 0;
    width: 100%;
    z-index: 999;
}

#commentModuleContainer_iframe {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

#widgetCommentModuleContainer {
    width: 350px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 16777270;
}

#widgetCommentModuleContainer_iframe {
    border: 0.5px solid #D6D6D6;
    border-radius: 4px;
}

#delete_popup_iframe {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    border: none;
    z-index: 16777271;
}

.displayNone {
    display: none !important;
}

.e-waitpopup-sharepopup {
    display: block;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 650px;
    z-index: 10004;
    background-color: #f5f5f5;
    opacity: 0.85;

    .e-image {
        background-color: white;
        background-image: url("../essentialJs/images/waitingpopup.gif");
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 15px;
        display: block;
        height: 70px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 70px;
    }
}

.home-button {
    float: left;
    background-color: rgb(51, 122, 183);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#commentImage_popup_wrapper {
    position: relative;
    border: none !important;
    vertical-align: central !important;
    display: block;
    margin: auto;
    overflow: visible !important;
    min-height: 1px !important;
    min-width: 1px !important;

    .col-md-12, .col-xs-12, .col-lg-12 {
        float: none !important;
    }
}

#commentImage_popup {
    border: none !important;
    overflow: hidden;
    padding: 0px !important;
}

#commentImage_popup_image {
    position: absolute;
    padding: 15px;
}

.closePopupImage {
    left: 16px !important;
    top: 0;
}

#PopupContainer {
    position: relative;
    overflow: visible !important;

    a:hover {
        text-decoration: none;
    }

    a {
        position: relative;
        z-index: 9;
        text-decoration: none !important;
        outline: none !important;
    }
}

.su-with-comment {
    color: #009aef;
}

@media screen and (max-width: 409px) {
    #commentModuleContainer, #filter-view, #dashboard-view-toogle {
        width: 100% !important;
    }
}

#dashboard-homepage-form {
    font-family: Roboto;

    .header-menu {
        padding: 15px 15px 0px 20px;

        .head-icon {
            float: left;
            font-size: 16px;
            padding: 2px 5px 0px 0px;
        }

        .popup-title {
            font-size: 16px;
            padding: 0;
        }

        a {
            color: @sub-text-color;
            float: right;
            font-size: @app-text-size;
            text-decoration: none !important;

            span:hover {
                text-decoration: none !important;
            }
        }

        a:hover {
            color: @primary-btn-bg;
            text-decoration: none !important;
        }
    }

    #dashboard-homepage-name {
        color: gray;
        font-size: @app-text-size;
        overflow: hidden;
        padding-top: 5px;
        white-space: nowrap;
        width: 400px;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    #homepage-name-container {
        height: 65px;

        .homepage-name-label {
            font-weight: normal;
            padding: 10px 0px 0px 0px;
        }

        #homepage-input {
            display: inline-block;
            margin-left: 10px;
            padding: 0px;
            width: 250px;

            #homepage-name {
                border-radius: 0px;
                width: 250px;
            }
        }

        .validation-errors {
            color: @validation-text-color;
            font-size: @app-text-size;
        }
    }

    #dashboard-homepage-container {
        float: left;
        padding-left: 5px;
        padding-top: 32px;

        label {
            font-weight: normal;
        }

        .homepage-name-label {
            padding-left: 0px;
        }

        #filter-container {
            padding-top: 20px;

            .keepfilter {
                width: 90px;
            }

            #info-tag {
                #filter-info {
                    cursor: pointer;
                }
            }
        }

        #keep-filter-label, #make-default-label {
            padding-left: 0px;
        }

        #button-container {
            float: right;
            padding-left: 0px;
            padding-right: 0px;

            input {
                height: 32px;
            }

            #dashboard-homepage-save-button {
                margin-right: 15px;
            }
        }

        .primary-button {
            .button();
        }

        .secondary-button {
            .button(@secondary-btn-bg, @secondary-btn-text-color, @secondary-btn-hover, @btn-height-normal, false);
            border: 1px solid @secondary-btn-border;
        }

        .validation-errors {
            color: @validation-text-color;
            font-size: @app-text-size;
            position: absolute;
        }
    }

    #dashboard-homepage-button {
        background: #e5e5e5 none repeat scroll 0 0;
        border-top: 1px solid #bbbbbb;
        bottom: 0;
        padding: 10px 15px 10px 10px;
        position: absolute;
        right: 0;
        width: 100%;

        .btn {
            border-radius: 0px;
        }
    }
}

#pin-parent-dashboard {
    .su-pin {
        font-size: 14px;
        padding-top: 9px;
    }
}

.su-icon {
    bottom: 2px;
    color: @icon-color;
    float: left;
    height: 16px;
    padding: 0px 5px 5px 5px;
    position: relative;
    width: 16px;

    &:before {
        font-size: 15px;
    }

    &:hover {
        color: @icon-hover-color;
        cursor: pointer;
    }
}

.su-with-comment, .highlight-icon {
    color: @primary-color;

    &:hover {
        color: @primary-color;
    }
}

#dashboard-edit {
    color: @menu-label-color;
    text-decoration: none;
}
